@font-face {
    font-family: 'poetsenoneregular';
    src: url('/fonts/poetsenone-regularplayidleheroes.com-webfont.woff2') format('woff2'),
         url('/fonts/poetsenone-regularplayidleheroes.com-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 auto;
    max-width: 69em;
}

table {
    border-collapse: collapse;
    text-align: center;
}
table, th, td {
    border: 1px solid black;
    padding: 0.4em;
}

th {
    background-color: lightgray;
}

* {
    font-family: 'poetsenoneregular';
}

a {
    color: inherit;
    text-decoration: none;
}

input[type=button], [type=submit], .login-button, button{
    border: none;
    color: white;
    display: inline-block;
    text-decoration: none;
    background-color: #008CBA;
    padding: 0.3em 1em 0.3em 1em;
}

input[type=button]:hover, [type=submit]:hover, .login-button:hover, [id$="link"]:hover, button:hover{
    background-color: #00698b;
}

[id$="link"]{
    border: none;
    color: white;
    text-decoration: none;
    background-color: #008CBA;
    padding: 0.3em 1em 0.3em 1em;
}

#welcome-link {
    padding: 0.1em 0.4em 0.1em 0.4em;
}

.name {
    float: right;
    text-align: right;
    padding-right: 20px;
}

.block {
    float:left;
    padding-left:20px;
}

.th-hidden {
    visibility: hidden;
}

#td-hidden {
    border: hidden;
}

#td-hidden-border {
    border: hidden;
    border-left: 1px;
}

.message {
    padding-left: 20px;
}

.welcome {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.welcome-body {
    background-image: url(images/welcome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-h2 {
    margin-top: 5em;
    margin-bottom: 2em;
    font-size: 3em;
    font-weight: normal;
    text-align: center;
}

.login-h3 {
    margin-top: 2.5em;
    font-size: 2em;
    font-weight: normal;
    text-align: center;
}

.login-body {
    margin: 0 auto;
    max-width: 30em;
    background-color: #2C2F33;
    color: #FFFFFF;
}

.index-body {
    margin: 0 auto;
    max-width: 100%;
    background-color: #2C2F33;
    color: #FFFFFF;
}

.btn-container {
    position: absolute;
    left: 50%;
    margin: 0 0 100px -150px;
}

.btn {
    width: 300px;
    height: 90px;
    line-height: 90px;
    background-color: #008CBA;
    border-radius: 8px;
    color: white;
    font-size: 2em;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    position: relative;
}  

.btn-fb a {
    width: 250px;
    height: 50px;
    line-height: 50px;
    border-radius: 8px;
    color: white;
    font-size: 2em;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    position: relative;
    padding: 7px 23px 7px 23px;
    background: #3B5999 url('https://3.bp.blogspot.com/-yqD2363XuAo/UeDk98twSlI/AAAAAAAAArg/kXIzFBWmczM/s1600/fb14.png') no-repeat 10px center;
}
  
.btn-gplus a {
    width: 250px;
    height: 50px;
    line-height: 50px;
    border-radius: 8px;
    color: white;
    font-size: 2em;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    position: relative;
    padding: 7px 23px 7px 23px;
    background: #D54135 url('https://3.bp.blogspot.com/-A8fFRexz_zk/UeDlgadvpiI/AAAAAAAAArw/TRd7NWNwo9s/s1600/gplus14.png') no-repeat 10px center;
}
  
.btn-fb a:hover {
    background-color: rgb(50, 75, 129);
}

.btn-gplus a:hover {
    background-color: rgb(191, 52, 40);
}

.index-header {
    position: relative;
}

.index-header span {
    float: left;
    margin-top: 2em;
    margin-left: 1.5em;
    font-size: 2em;
}

.index-header-buttons{
    float: right;
    margin-top: 2em;
    margin-right: 1.5em;
    font-size: 2em;
}

.index-header-buttons input[type=button] {
    border: none;
    color: white;
    display: inline-block;
    text-decoration: none;
    background-color: #000000;
    padding: 0.3em 1em 0.3em 1em;
    margin-left: 0.4em;
    font-size: 100%;
}

.index-header-buttons input[type=button]:hover {
    background-color: #23272A;
}

.banner-image {
    width: 100%;
    overflow: hidden;
    margin: 0;
    position: absolute;
}

.banner-image img {
    display: block;
    width: 100%;
    margin: 0% 0% -20% 0%;
}

.index-box {
    max-width: 90em;
    display: block;
    margin: auto;
    position: relative;
}

.index-box span {
    display: block;
    margin: 25em auto auto auto;
    background-color: #99AAB5;
    position: absolute;
    padding: 9% 0;
    border-radius: 0.5em;
    width: 90em;
    text-align: center;
}

.index-box span hr{
    max-width: 30em;
}

.index-box span h1, p{
    font-size: 2em;
}
