@font-face {
    font-family: 'poetsenoneregular';
    src: url('/fonts/poetsenone-regularplayidleheroes.com-webfont.woff2') format('woff2'),
         url('/fonts/poetsenone-regularplayidleheroes.com-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 auto;
    max-width: 69em;
}

table {
    border-collapse: collapse;
    text-align: center;
}
table, th, td {
    border: 1px solid black;
    padding: 0.4em;
}

th {
    background-color: black;
}

* {
    font-family: 'poetsenoneregular';
}

a {
    color: inherit;
    text-decoration: none;
}

input[type=button], [type=submit], .login-button, button{
    border: none;
    color: white;
    display: inline-block;
    text-decoration: none;
    background-color: #008CBA;
    padding: 0.3em 1em 0.3em 1em;
}

input[type=button]:hover, [type=submit]:hover, .login-button:hover, [id$="link"]:hover, button:hover{
    background-color: #00698b;
}

[id$="link"]{
    border: none;
    color: white;
    text-decoration: none;
    background-color: #008CBA;
    padding: 0.3em 1em 0.3em 1em;
}

#welcome-link {
    padding: 0.1em 0.4em 0.1em 0.4em;
}

.name {
    float: right;
    text-align: right;
    padding-right: 20px;
}

.block {
    float:left;
    padding-left:20px;
}

.th-hidden {
    visibility: hidden;
}

#td-hidden {
    border: hidden;
}

#td-hidden-border {
    border: hidden;
    border-left: 1px;
}

.message {
    padding-left: 20px;
}

.welcome {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.welcome-body {
    background-image: url(images/welcome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-h2 {
    margin-top: 5em;
    margin-bottom: 2em;
    font-size: 3em;
    font-weight: normal;
    text-align: center;
}

.login-text {
    margin-top: 2.5em;
}

.login-body {
    margin: 0 auto;
    max-width: 100%;
    background-color: #2C2F33;
    color: #FFFFFF;
}

.login-container hr {
    max-width: 15em;
}

.login-container {
    font-size: 2em;
    text-align: center;
}

.btn-container {
    position: absolute;
    left: 50%;
    margin: 0 0 0 -148px;
}
  
.btn-gplus a {
    width: 250px;
    height: 50px;
    line-height: 50px;
    border-radius: 8px;
    color: white;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    position: relative;
    padding: 7px 23px 7px 23px;
    margin-bottom: 0.5em;
    background: #D54135 url('https://3.bp.blogspot.com/-A8fFRexz_zk/UeDlgadvpiI/AAAAAAAAArw/TRd7NWNwo9s/s1600/gplus14.png') no-repeat 10px center;
}

.btn-fb a {
    width: 250px;
    height: 50px;
    line-height: 50px;
    border-radius: 8px;
    color: white;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    position: relative;
    padding: 7px 23px 7px 23px;
    margin-bottom: 0.5em;
    background: #3B5999 url('https://3.bp.blogspot.com/-yqD2363XuAo/UeDk98twSlI/AAAAAAAAArg/kXIzFBWmczM/s1600/fb14.png') no-repeat 10px center;
}
  
.btn-fb a:hover {
    background-color: rgb(50, 75, 129);
}

.btn-gplus a:hover {
    background-color: rgb(191, 52, 40);
}

.index-header-image {
    background-image: url(images/nature-banner-2.jpg);
    display: flex;
    justify-content: space-between;
    height: 15vh;
}

.index-body {
    margin: 0 auto;
    max-width: 100%;
    background-color: #2C2F33;
    color: #FFFFFF;
}

.index-header-text {
    margin-top: 4vh;
    margin-left: 1em;
    font-size: 1.5vw;
}

.index-header-buttons{
    margin-top: 4vh;
    margin-right: 1em;
    font-size: 1.5vw;
}

.index-header-buttons input[type=button] {
    border: none;
    color: white;
    display: inline-block;
    text-decoration: none;
    background-color: #000000;
    padding: 0.3em 1em 0.3em 1em;
    margin-left: 0.4em;
    font-size: inherit;
}

.index-header-buttons input[type=button]:hover {
    background-color: #23272A;
}

.index-box {
    text-align: center;
    margin: 4em auto;
}

.index-box hr {
    max-width: 30em;
}

.map-body {
    margin: 0 auto;
    max-width: 100%;
    background-color: #2C2F33;
    color: #FFFFFF;
}

#map {
    height: 80%;
    width: 80%;
    font-size: 2em;
    margin: 1em auto;
}


/* Styles the thumbnail */

a.lightbox img {
    height: 150px;
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);
    margin: 94px 20px 20px 20px;
    }
    
    /* Styles the lightbox, removes it from sight and adds the fade-in transition */
    
    .lightbox-target {
    position: fixed;
    top: -100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
    }
    
    /* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */
    
    .lightbox-target img {
    margin: auto;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    max-height: 0%;
    max-width: 0%;
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);
    box-sizing: border-box;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    }
    
    /* Styles the close link, adds the slide down transition */
    
    a.lightbox-close {
    display: block;
    width:50px;
    height:50px;
    box-sizing: border-box;
    background: white;
    color: black;
    text-decoration: none;
    position: absolute;
    top: -80px;
    right: 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    }
    
    /* Provides part of the "X" to eliminate an image from the close link */
    
    a.lightbox-close:before {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
    }
    
    /* Provides part of the "X" to eliminate an image from the close link */
    
    a.lightbox-close:after {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
    }
    
    /* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */
    
    .lightbox-target:target {
    opacity: 1;
    top: 0;
    bottom: 0;
    }
    
    .lightbox-target:target img {
    max-height: 100%;
    max-width: 100%;
    }
    
    .lightbox-target:target a.lightbox-close {
    top: 0px;
    }
    