<!DOCTYPE html>
<html>
<title>Utleie av friluftsutstyr</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/styles.css}">

<body class="index-body">
  <div class="banner-image">
    <img src="images/nature-banner.jpg" alt="bannerimage">
  </div>
  <div class="index-header">
    <span>
      Group3 DAT251 | Utleie av Friluftsutstyr
      <hr>
    </span>
    <div class="index-header-buttons">
      <input type="button" name="Search" value="Search" onclick="window.location.href='/search'">
      <input type="button" name="Map" value="Map" onclick="window.location.href='/map'">
      <input type="button" name="User" value="My Page" onclick="window.location.href='/user'">
    </div>
  </div>
  <div class="index-box">
    <span>
      <h1>COMING SOON</h1><br>
      <hr>
      <p>We'll do it</p>
    </span>
  </div>
</body>

</html>