<!DOCTYPE html>
<html>
<title>Utleie av friluftsutstyr</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/styles.css}">

<body class="index-body">
  <div class="index-header-image">
    <div class="index-header-text">
      Group3 DAT251 | Utleie av Friluftsutstyr
      <hr>
    </div>
    <div class="index-header-buttons">
      <input type="button" name="Search" value="Search" onclick="window.location.href='/search'">
      <input type="button" name="Map" value="Map" onclick="window.location.href='/map'">
      <input type="button" name="User" value="My Page" onclick="window.location.href='/user'">
      <input type="button" name="My orders" value="My orders" onClick="window.location.href='/myOrders'">
      <input type="button" name="My Items" value="My Items" onClick="window.location.href='/myItems'">
      <input type="button" name="logout" value="Log Out" onClick="window.location.href='/logout'">
    </div>
  </div>

  <div class="index-box">
    <div class="itemsMain" th:if="${not #lists.isEmpty(items)}">
      <h3>Preffered items:</h3>
      <div th:each="item, iStat: ${items}" class="prefItem">
        <a th:href="@{/items/{itemID}(itemID=${item.iID})}">
          <div>
            <span th:text="${item.name}"></span><br>
            <img class="mainImg" th:src="@{${imgUrls[iStat.index]}}"><br>
            <span th:text="${item.price}"></span><br>
          </div>
        </a>
      </div>
    </div>
    <h1>ARRIVED</h1>
    <hr>
    <h1>We did it</h1>
  </div>
</body>

</html>