<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<html>
<title>My Items</title>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/styles.css}">
<body class="map-body">
<div class="index-header-image">
    <div class="index-header-text">
      Group3 DAT251 | Utleie av Friluftsutstyr
      <hr>
    </div>
    <div class="index-header-buttons">
        <input type="button" name="Home" value="Home" onclick="window.location.href='/'">
        <input type="button" name="Map" value="Map" onclick="window.location.href='/map'">
      	<input type="button" name="User" value="My Page" onclick="window.location.href='/user'">
        <input type="button" name="My orders" value="My orders" onClick="window.location.href='/myOrders'">
        <input type="button" name="My Items" value="My Items" onClick="window.location.href='/myItems'">
        <input type="button" name="logout" value="Log Out" onClick="window.location.href='/logout'">
    </div>
</div>
<div id="myItems" class="block">
       <br>
       <div class="block">
        <h3>My Items:</h3>
        <table>
            <tr>
            	<th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>From</th>
                <th>To</th>
                <th>Is available</th>
				<th class=th-hidden></th>
				<th class=th-hidden></th>
            </tr>
            <tr>
                <td th:text="${item.iID}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.description}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.fromDate.substring(0, 10)}"></td>
                <td th:text="${item.toDate.substring(0, 10)}"></td>
                <td th:text="${item.available}"></td>
				<td id="td-hidden-border"><button th:onClick="'window.location.href= \''+
					@{/items/delete/{itemID}(itemID=${item.iID})}+'\''">Delete</button>
				</td>
            </tr>
        </table><br>
        </div>
        <div class="block">
	        <form th:action="@{/items/update/{itemID}(itemID=${item.iID})}" method="post">
				<h3>Update Item:</h3>
				Name:<br><input type="text" name="name" maxlength="32" th:value="${item.name}"><br><br>
				Description:<br><textarea name="description" rows="4" th:text="${item.description}"></textarea><br><br>
				Price:<br><input type="number" step="0.01" name="price" th:value="${item.price}"><br><br>
                From:<br><input type="date" name="fromDate"><br><br>
                To:<br><input type="date" name="toDate"><br><br>
				<select name="isAvailable">
					<option value="true" th:selected="${item.available}">True</option>
					<option value="false" th:selected="${!item.available}">False</option>
				</select><br><br>
				<input type="submit" name="submit" value="Update Item">
			</form><br>
        </div>
        
    <div class=message>
        <p><span class=message th:text="${message}"></span></p>
    </div>
</div>
</body>
</html>
