<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<html>
	<title>Items</title>
	<meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}">
<body>

<div id="myItems" class="block">
		<div id="search" class="block">
			<form th:action="@{/items}">
				<h3>Search Items:</h3>
				Search:<input type="text" name="name"><br><br>
				<input type="submit" name="submit" value="Search">
			</form><br>
			
			<h3>All items:</h3>
			<table>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Price</th>
					<th>Available</th>
					<th class=th-hidden></th>
				</tr>
				<tr th:each="item : ${items}">
					<td th:text="${item.name}"></td>
					<td th:text="${item.description}"></td>
					<td th:text="${item.price}"></td>
					<td th:text="${item.available}"></td>
					<td id="td-hidden-border"><button th:onClick="'window.location.href= \''+
						@{/items/{itemID}(itemID=${item.iID})}+'\''">Info</button></td>
				</tr>
			</table><br>
		</div>
	<div class=message>
		<p><span class=message th:text="${message}"></span></p>
	</div>
</div>
</body>
</html>
