<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<html>
<title>My Items</title>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/styles.css}">

<body class="map-body">
    <div class="index-header-image">
        <div class="index-header-text">
            Group3 DAT251 | Utleie av Friluftsutstyr
            <hr>
        </div>
        <div class="index-header-buttons">
            <input type="button" name="Home" value="Home" onclick="window.location.href='/'">
            <input type="button" name="Map" value="Map" onclick="window.location.href='/map'">
            <input type="button" name="User" value="My Page" onclick="window.location.href='/user'">
            <input type="button" name="My orders" value="My orders" onClick="window.location.href='/myOrders'">
            <input type="button" name="My Items" value="My Items" onClick="window.location.href='/myItems'">
            <input type="button" name="logout" value="Log Out" onClick="window.location.href='/logout'">
        </div>
    </div>
    <div id="myItems" class="block">
        <br>
        <div class="block">
            <h3>My Items:</h3>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Availability</th>
                    <th class=th-hidden></th>
                    <th class=th-hidden></th>
                </tr>
                <tr>
                    <td th:text="${item.iID}"></td>
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.description}"></td>
                    <td th:text="${item.price}"></td>
                    <td th:text="${item.fromDate.substring(0, 10)}"></td>
                    <td th:text="${item.toDate.substring(0, 10)}"></td>
                    <span th:if="${item.available}">
                        <td>Available</td>
                    </span>
                    <span th:if="${not item.available}">
                        <td>Reserved</td>
                    </span>
                    <td id="td-hidden-border"><button th:onClick="'window.location.href= \''+
					@{/items/delete/{itemID}(itemID=${item.iID})}+'\''">Delete</button>
                    </td>
                </tr>
            </table><br>
            <span th:each="imgUrl, iStat : ${imgUrls}">
                <img class="updateImg" th:src="@{${imgUrl}}">
                <input style="color: red;" type="button" name="delete" value="Delete Image"
                    th:onclick="'window.location.href=\''+ @{/items/{itemID}/deleteImage/{path}(path=${imgs[iStat.index]},itemID=${item.iID})}+'\''"><br>
            </span>
        </div>
        <div class="block">
            <form th:action="@{/items/update/{itemID}(itemID=${item.iID})}" th:object="${item}" method="post"
                enctype="multipart/form-data">
                <h3>Update Item:</h3>
                Name:<br><input type="text" th:field="*{name}" maxlength="32" th:value="${item.name}"><br><br>
                Description:<br><textarea th:field="*{description}" rows="4"
                    th:text="${item.description}"></textarea><br><br>
                Price:<br><input type="number" step="0.01" th:field="*{price}" th:value="${item.price}"><br><br>
                From:<br><input type="date" th:field="*{fromDate}"><br><br>
                To:<br><input type="date" th:field="*{toDate}"><br><br>
                Available: <select th:field="*{available}">
                    <option value="true" th:selected="${item.available}">Available</option>
                    <option value="false" th:selected="${!item.available}">Reserved</option>
                </select><br><br>
                <label for="tags">
                    Tags:<br>
                    <label
                        th:each="tagsOpt, iStat : ${T(hvl.no.dat251.group3project.entity.User.Preferences).values()}">
                        <input type="checkbox" th:field="*{tags}" th:value="${tagsOpt}"
                            th:text="${tagsOpt.getPreference()}"
                            th:checked="${#lists.contains(item.tags, tagsOpt)|| tagsOpt eq T(hvl.no.dat251.group3project.entity.User.Preferences).NAN}"
                            th:style="${iStat.last}? 'visibility:hidden;'">
                    </label>
                </label><br>
                Images:<br><input type="file" name="imagesMulti" multiple accept="image/png, image/jpeg"><br><br>
                <input type="submit" name="submit" value="Update Item">
            </form><br>
        </div>

        <div class=message>
            <p><span class=message th:text="${message}"></span></p>
        </div>
    </div>
</body>

</html>