<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<html>
<title>My Items</title>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/styles.css}">

<body class="map-body">
  <div class="index-header-image">
    <div class="index-header-text">
      Group3 DAT251 | Utleie av Friluftsutstyr
      <hr>
    </div>
    <div class="index-header-buttons">
      <input type="button" name="Search" value="Search" onclick="window.location.href='/search'">
      <input type="button" name="Map" value="Map" onclick="window.location.href='/map'">
      <input type="button" name="User" value="My Page" onclick="window.location.href='/user'">
      <input type="button" name="My orders" value="My orders" onClick="window.location.href='/myOrders'">
      <input type="button" name="My Items" value="My Items" onClick="window.location.href='/myItems'">
      <input type="button" name="logout" value="Log Out" onClick="window.location.href='/logout'">
    </div>
  </div>
  <div id="myItems" class="block">
    <br>
    <div class="block">
      <h3>Item:</h3>
      <b>Id:</b> <span th:text="${item.iID}"></span><br><br>
      <b>Name:</b> <span th:text="${item.name}"></span><br><br>
      <b>Description:</b> <span th:text="${item.description}"></span><br><br>
      <b>Price:</b> <span th:text="${item.price}"></span><br><br>
      <b>From:</b> <span th:text="${item.fromDate.substring(0, 10)}"></span><br><br>
      <b>To:</b> <span th:text="${item.toDate.substring(0, 10)}"></span><br><br>
      <b>Is available:</b> <span th:text="${item.available}"></span><br><br>
      <b>Seller Name:</b> <span th:text="${item.owner.getFname} +' '+ ${item.owner.getLname} "></span><br><br>
      <span th:if="${item.owner.contactByEmail}"><b>Seller email:</b> <span
          th:text="${item.owner.getEmail}"></span><br><br></span><br>
      <b>Image(s):</b><br>
      <img th:each="imgUrl: ${imgUrls}" th:src="@{${imgUrl}}" width="100em"><br><br>
      <form th:action="@{/orderItem/{itemID}(itemID=${item.iID})}">
        Home delivery (<span th:text="${item.deliveryFee}"></span>kr): <input type="checkbox"
          name="deliverHome" /><br><br>
        Choose end Date of order:<br><input type="date" name="toDate"><br><br>
        <input type="submit" name="submit" value="Order item">
      </form><br>
      <p><span class=message th:text="${message}"></span></p>

    </div>

  </div>
</body>

</html>