<!DOCTYPE html>
<html>

<head>
  <title>Friluftsutstyr Map</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <style type="text/css">
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
      height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
  <script>
    let map;

    function initMap() {
      map = new google.maps.Map(document.getElementById("map"), {
        center: { lat: 60.3652817, lng: 5.2890902 },
        zoom: 12,
      });
    }
  </script>
</head>
<link rel="stylesheet" th:href="@{/styles.css}">

<body class="map-body">
  <div class="index-header-image">
    <div class="index-header-text">
      Group3 DAT251 | Utleie av Friluftsutstyr
      <hr>
    </div>
    <div class="index-header-buttons">
      <input type="button" name="Search" value="Search" onclick="window.location.href='/search'">
      <input type="button" name="Home" value="Home" onclick="window.location.href='/'">
      <input type="button" name="User" value="My Page" onclick="window.location.href='/user'">
    </div>
  </div>
  <div id="map"></div>

  <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
  <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMve7_XJuCxRGV2u8M9-yTEmTF8rOyhdI&callback=initMap">
    </script>
</body>

</html>