<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body class="login-body">
    <h3 class="login-h3">Login with:</h3>
    <hr><br>
    <!-- <span th:each="url : ${urls}">
            <button th:text="${url.key}" th:onClick="'window.location.href= \''+ @{{url}(url=${url.value})}+'\''"></button>
        </span> -->
    <div class="btn-container">
        <span th:each="url : ${urls}">
            <div class="btn-gplus">
                <a th:if="${url.key == 'Google'}" th:text="${url.key}" th:href="@{{url}(url=${url.value})}"></a>
            </div>
            <div class="btn-fb">
                <a th:if="${url.key == 'Facebook'}" th:text="${url.key}" th:href="@{{url}(url=${url.value})}"></a>
                <br>
            </div>
        </span>
    </div>
</body>