<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body class="login-body">
    <div class="index-header-image">
        <div class="index-header-text">
            Group3 DAT251 | Utleie av Friluftsutstyr
            <hr>
        </div>
    </div>
    <div class="login-container">
        <div class="login-text">Login with:</div>
        <hr>
        <br>
        <div class="btn-container">
            <div class="btn-gplus">
                <a th:href="${urls.get('Google')}">Google</a>
            </div>
            <div class="btn-fb">
                <a th:href="${urls.get('Facebook')}">Facebook</a>
            </div>
        </div>
    </div>
</body>