<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<html>
<title>Order info</title>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/styles.css}">
<body class="map-body">
<div class="index-header-image">
    <div class="index-header-text">
      Group3 DAT251 | Utleie av Friluftsutstyr
      <hr>
    </div>
    <div class="index-header-buttons">
      <input type="button" name="Search" value="Search" onclick="window.location.href='/search'">
      <input type="button" name="Home" value="Home" onclick="window.location.href='/'">
      <input type="button" name="User" value="My Page" onclick="window.location.href='/user'">
    </div>
</div>
<div id="myItems" class="block">
       <br>
       <div class="block">
        <h3>Order items:</h3>
        <table>
            <tr>
            	<th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            <tr th:each="item : ${order.items}">
                <td th:text="${item.iID}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.description}"></td>
                <td th:text="${item.price}"></td>
            </tr>
        </table><br>
        </div>

    <div class=message>
        <p><span class=message th:text="${message}"></span></p>
    </div>
</div>
</body>
</html>
