<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div class="welcome">

    <head>
        <meta charset="utf-8" />
        <title>Welcome</title>
        <link rel="stylesheet" th:href="@{/styles.css}">
    </head>

    <body class="welcome-body">
        <h2 class="welcome-h2">Welcome to our site <span th:text="${name}"></span>!!</h2>
        <div class="btn-container">
            <a class="btn" id="welcome-link" th:href="@{/}">Click to continue!</a>
        </div>
    </body>
</div>

</html>